.App {
  font-family: sans-serif;
  padding: 20px;
}

section {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

form {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Responsive grid */
  gap: 10px; /* Espacio entre campos */
  align-items: center; /* Alinea verticalmente */
}

input,
select {
  padding: 8px;
  margin-bottom: 5px; /* Pequeño espacio debajo */
  box-sizing: border-box; /* Para que el padding no afecte el ancho total */
}

/* Botón del formulario ocupa toda una columna */
.form-grid button {
  grid-column: 1 / -1; /* Ocupa desde la primera hasta la última columna */
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-grid button:hover {
  background-color: #45a049;
}

h1,
h2 {
  color: #333;
}
